/*
 *  Atomic Blocks: Post Grid
 */

.ab-block-post-grid {
  .is-list article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-gap: 0 2rem;
    margin-bottom: 2rem;
    box-shadow: 8px 8px 0 $flash-flood-blue-transparent;

    &:not(:last-child) {
      margin-bottom: 2rem;
      padding-bottom: 0;
    }
  }

  h2 {
    font-family: $mono-font-family;
    color: $gray-900;
    font-weight: $mono-font-weight;
    font-size: 7vw;

    @include media-breakpoint-up(sm) {
      font-size: 5.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 4vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }

  .ab-block-post-grid-image {
    img {
      height: auto;
    }
  }

  .ab-block-post-grid-byline {
    margin-bottom: 0;
    padding: 0.5rem 1.5rem;
    background-color: $falling-shell-yellow-transparent;

    .ab-block-post-grid-date {
      @extend .updated;

      color: $falling-shell-yellow;
    }
  }

  header .ab-block-post-grid-title {
    margin-bottom: 0;
    padding: 1.5rem 1.5rem 1rem;
    background-color: $alarming-red-verytransparent;

    a {
      color: $alarming-red;
      font-family: $headings-font-family;
      font-size: $h4-font-size;
      font-weight: $headings-font-weight;
      font-style: $headings-font-style;
    }
  }

  .ab-block-post-grid-text {
    p {
      font-size: $font-size-lg;
      line-height: $line-height-lg;
      color: $gray-600;
    }
  }

  //&.show-exerpts {
  //  .ab-block-post-grid-excerpt {
  //    display: initial;
  //  }
  //}

  .ab-block-post-grid-excerpt {
    padding: 1.5rem 1.5rem 0;
  }

  .ab-block-post-grid-more-link {
    padding-bottom: 1rem;
  }
}

.ab-block-post-grid-pers {
  .ab-block-post-grid-excerpt {
    display: inherit;
    padding: 1rem 1.5rem 0;

    &::first-line {
      font-weight: bold;
      color: $color-black;
    }

    p {
      font-size: 4.5vw;

      @include media-breakpoint-up(sm) {
        font-size: 3vw;
      }

      @include media-breakpoint-up(md) {
        font-size: 2.8vw;
      }

      @include media-breakpoint-up(lg) {
        font-size: 1.5rem;
      }
    }
  }

  .ab-block-post-grid-byline {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .ab-block-post-grid .is-list article .ab-block-post-grid-image {
    margin-bottom: 0;
  }
}

.div[class*="wp-block-atomic"].ab-font-size-18.ab-block-accordion p {
  font-size: 4.5vw;

  @include media-breakpoint-up(sm) {
    font-size: 3vw;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.8vw;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }
}
