/*
 *  Atomic Blocks: Button
 */

@import "../common/variables";

.ab-block-button {
  margin: 2em 0;

  .ab-block-button {
    font-family: $font-family-sans-serif;
    font-style: $klima-font-style;
    font-weight: $klima-font-weight;
  }
}
