/*
 *  CTA Banner
 */

.cta-home {
  align-items: center;
  margin-bottom: 30px;
  padding-top: 30px;
}

//.cta-banner {
//  .home & {
//    display: none;
//  }
//}

.cta-banner__link {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0;
  overflow: hidden;

  @include media-breakpoint-up(md) {
    padding: 2.5rem 1rem 3rem;
  }

  img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }

  &:hover,
  &:active {
    img {
      transform: scale(1.05);
    }
  }
}
