/*
 *  Search form
 */

@import "../common/variables";

.search-form {
  @extend .form-inline;
}

label {
  margin-bottom: 0;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.btn {
  border-radius: 0;
}

input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  @extend .form-control;

  border: solid darken($falling-shell-yellow, 5)  5px;
  padding-left: 10px !important;
  height: 50px;
}

select {
  @extend .form-control;
}

button,
input.button,
input[type=image],
input[type=submit] {
  border: none;
  padding: 5px 30px 0;
  background-color: $alarming-red;
  color: $color-white;
  font-family: $font-family-monospace;
  text-transform: uppercase;
  font-size: 5vw;
  line-height: 7.5vw;

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

.gform_wrapper {
  margin: 16px 1rem;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  border: solid darken($flash-flood-blue, 8) 5px;
  padding-left: 10px !important;
  height: 50px;
}

.gform_wrapper .top_label .gfield_label,
.gform_wrapper legend.gfield_label {
  font-size: 5vw;
  line-height: 7.5vw;

  @include media-breakpoint-up(md) {
    font-size: 1.4rem;
    line-height: 2.2rem;
  }
}

//.gform_wrapper .gform_footer {
//  text-align: center;
//}

.gform_wrapper .gform_footer input.button,
.gform_wrapper .gform_footer input[type=image],
.gform_wrapper .gform_footer input[type=submit] {
  border: none;
  padding: 5px 30px;
  background-color: darken($flash-flood-blue, 8);
  color: $color-white;
  font-family: $font-family-monospace;
  text-transform: uppercase;
  font-size: 5vw !important;
  line-height: 7.5vw !important;

  @include media-breakpoint-up(md) {
    font-size: 1.4rem !important;
    line-height: 2.2rem !important;
  }
}

#field_1_3,
#field_1_4,
#field_3_3,
#field_3_4 {
  display: inline-block;
  width: 50%;
}
