/*
 *  Menus
 */

.nav {
  padding: 0;
}

.nav .sub-menu {
  padding: 0;
  list-style: none;
}

.nav li {
  @extend .nav-item;
}

.nav-primary {
  display: flex;
  flex-flow: row;
  width: 100%;
}

#navbar-top-menu {
  .wpml-ls-item-fr,
  .wpml-ls-item-de {
    display: none;
  }
}

.template-agm-2020 {
  #navbar-top-menu {
    width: 85%;
  }
}

.shell-must-fall .banner ul.language-menu {
  margin-left: auto;

  .language-menu-item {
    text-transform: uppercase;
  }
}
