/*
 *  Primary Menu
 */

.header__primary-menu.navbar {
  align-items: flex-end;
  padding: 0;
}

.header__primary-menu .navbar-nav .nav-link,
.header__primary-menu .navbar-nav .dropdown-item {
  @extend .nav-link;

  font-family: $klima-font-family;
  font-size: $h6-font-size;
  font-weight: $klima-font-weight;
  line-height: $h6-font-size;
  font-style: $klima-font-style;
  color: $color-white;

  @include media-breakpoint-up(lg) {
    font-size: $h5-font-size;
    line-height: $h5-font-size;
  }
}

.header__primary-menu .navbar-nav .dropdown-item {
  padding-left: 1rem;
  padding-right: 1rem;

  &.active,
  &:active {
    background-color: $color-white;
    color: $alarming-red;
  }

  &:hover,
  &:focus {
    color: $flash-flood-blue;
  }
}

.dropdown-menu {
  border: none;
  margin: 0;
  background-color: $alarming-red;
}

.navbar-toggler {
  align-self: flex-start;
  margin-left: auto;
  color: $color-white;
}

.hamburger:focus,
.hamburger:active {
  outline: none;
}

.hamburger-label {
  display: none;
}

.dropdown-submenu {
  position: relative;

  .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
  }
}
