/*
 *  Sidebar
 */

.sidebar .widget {
  margin-bottom: 2rem;
  border-radius: 0;
  box-shadow: 8px 8px 0 $flash-flood-blue-transparent;
  padding: 1.5rem;
  overflow: hidden;
  background-color: $falling-shell-yellow-transparent;

  h3 {
    font-family: $mono-font-family;
    color: $flash-flood-blue;
    font-weight: $mono-font-weight;
    font-size: 4vw;

    @include media-breakpoint-up(sm) {
      font-size: 2.7vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 2vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  ul {
    padding-left: 0;
    padding-top: 1rem;
  }

  li {
    padding-bottom: 1rem;
    line-height: 1.6rem;
    font-size: $small-font-size;
  }

  a {
    //
  }
}

.tribe-events-countdown-widget {
  .tribe-countdown-text a {
    font-size: 4vw;

    @include media-breakpoint-up(sm) {
      font-size: 2.7vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 2vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }

  .tribe-countdown-time {
    font-size: 1rem;
  }
}
