/*
 *  Top Menu
 */

.header__top-menu a {
  @extend .nav-link;

  padding: 0.5rem 0.5rem;
  font-family: $font-family-monospace;
  font-size: $small-font-size;
  line-height: $small-font-size;
  font-weight: $font-weight-normal;
  color: $color-white;
}
