/*
 *  Tribe Events
 */

@import "../common/variables";

/* stylelint-disable */

#tribe-events {
  .tribe-events-title-bar {
    display: none;
  }

  .tribe-events-loop #post-0 {
    display: none;
  }

  .tribe-events-list .type-tribe_events {
    margin-bottom: 2rem;
    padding: 0;
    box-shadow: 8px 8px 0 $falling-shell-yellow-transparent;

    &.tribe-events-first {
      padding: 0;
    }
  }

  #post-0 > .tribe-events-event-image {
    display: none;
  }

  .tribe-events-event-image img {
    width: 100%;
    height: auto;
  }

  .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    float: inherit;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .tribe-events-event-meta {
    margin: 0;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: $flash-flood-blue-transparent;
    text-align: center;
  }

  .tribe-events-page-title {
    font-family: $mono-font-family;
    color: $gray-900;
    font-size: 7vw;

    @include media-breakpoint-up(sm) {
      font-size: 5.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 4vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }

    clear: inherit;
    position: inherit;
    text-align: inherit;
    z-index: inherit;
    margin-bottom: 0.5rem;
  }

  .tribe-bar-disabled {
    display: none;
  }

  .tribe-events-nav-pagination {
    display: none;
  }

  .tribe-events-list-event-title {
    margin: 0;
    padding: 1rem 0.5rem 1rem 1rem !important;
    width: 100%;
    font-family: $headings-font-family;
    font-size: 7.5vw;
    font-weight: $headings-font-weight;
    font-style: $headings-font-style;
    background: rgba(0, 0, 0, 1);

    @include media-breakpoint-up(sm) {
      font-size: $h4-font-size;
      padding: 2rem 1.5rem 2rem 2.5rem !important;
    }

    a {
      color: $flash-flood-blue;
    }
  }

  #tribe-events-header,
  .tribe-events-schedule,
  .tribe-events-notices,
  .tribe-events-back {
    display: none;
  }

  .tribe-events-list-event-description {
    display: none;
  }

  .tribe-events-venue-details {
    display: none;
    margin: 0;
    padding: 0.5rem 1.5rem 1.5rem;
    border: none;
    font-size: $small-font-size;
    line-height: 1.75rem;
  }

  .tribe-event-schedule-details {
    @extend .updated;

    color: $color-black;
  }

  .tribe-events-button {
    display: none !important;
  }
}

.tribe-events-list {
  .ticket-cost {
    display: none;
  }

  .tribe-events-event-cost {
    justify-content: center;
    margin-bottom: 0;
    background-color: $flash-flood-blue-transparent;
  }

  .tribe-button {
    margin-top: 0;
  }
}

.tribe-events-content {
  ul {
    padding-left: 25px;
  }

  li {
    list-style: initial;
  }
}

.tribe-events-single {
  .tribe-events-cal-links {
    display: none;
  }

  .page .tribe-events-schedule {
    display: inherit !important;
    background-color: transparent;

    .tribe-events-cost {
      display: none;
    }
  }

  .tribe-tickets-rsvp {
    margin: 1rem 0 2rem 0;
    padding: 1.5rem;
    border: none;
    background-color: $flash-flood-blue-transparent;
    color: $flash-flood-blue;

    .tribe-events-tickets-title {
      font-size: 1.8rem;
      color: $color-black;
    }

    .tribe-events-tickets {
      margin-top: 1rem;
      padding: 1rem 1.5rem;
      background: $flash-flood-blue;
      border: 0;
      border-radius: 0;
      width: 100%;
    }

    .tickets_name {
      @extend .h2;
      font-size: 1.8rem;
    }

    .tribe-events-tickets tr:not(:first-child) {
      border: none;
    }

    .tribe-tickets-meta-row {
      color: $color-black;
    }

    .tribe-events-tickets td {
      padding: 1rem;
    }

    .tribe-button {
      @extend .btn;

      padding: 0.5rem 2rem;
      background-color: $alarming-red;
      color: $color-white;
    }
  }

  .tribe-events-single-event-description .tribe-events-single .tribe-events-single-section {
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
    font-size: 1rem;

    .tribe-events-meta-group {
      margin: 0 0.5rem 1rem;
      word-break: break-all;
    }
  }

  .tribe-events-event-meta {
    padding: 1.5rem !important;
  }

  .tribe-events-meta-group {
    margin: 1rem 0 0 0;
    padding: 1.3rem 1.5rem;
    border: none;
    background-color: $flash-flood-blue-transparent;
    text-align: left;
  }

  .tribe-events-single-section {
    display: none;

    .tribe-events-single-event-description & {
      display: inherit;
    }
  }

  .tribe-events-single-section {
    text-align: left;

    .tribe-events-single-section-title {
      font-size: 1.8rem;
    }
  }
}

.sidebar .tribe-events-adv-list-widget {
  font-size: 1rem;
  line-height: 1.5;

  .tribe-mini-calendar-event {
    margin-bottom: 1rem;
  }

  .list-date {
    display: none;
  }

  .h2,
  .tribe-events-single .tribe-tickets-rsvp .tickets_name,
  h2 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
  }
}

/* stylelint-enasable */
