/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

@import "../common/variables";

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  margin: 0 auto;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: 0;
  height: auto;
}

.entry-content .alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
}

.alignfull > img {
  width: 100vw;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

.has-red-background-color {
  background-color: $alarming-red;
}

.has-blue-background-color {
  background-color: $flash-flood-blue;
}

.has-yellow-background-color {
  background-color: $falling-shell-yellow;
}

.has-white-background-color {
  background-color: $color-white;
}

.wp-block-column {
  @media (min-width: 600px) {
    flex-basis: inherit;
    flex-grow: inherit;

    &:nth-child(odd) {
      margin-left: inherit;
      margin-right: inherit;
    }

    &:nth-child(2n) {
      margin-left: inherit;
      margin-right: inherit;
    }

    &:nth-child(even) {
      margin-left: inherit;
      margin-right: inherit;
    }

    &:not(:first-child) {
      margin-left: inherit;
      margin-right: inherit;
    }

    &:not(:last-child) {
      margin-left: inherit;
      margin-right: inherit;
    }
  }

  @include media-breakpoint-up(sm) {
    flex-basis: calc(50% - 1.5rem);
    flex-grow: 0;

    &:not(:last-child) {
      margin-right: 3rem;
    }
  }

  h2 {
    font-family: $mono-font-family;
    color: $gray-900;
    font-weight: $mono-font-weight;
    font-size: 7vw;

    @include media-breakpoint-up(sm) {
      font-size: 5.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 4vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }
}

.has-text-color.has-black-color {
  color: $color-black;
}

.has-text-color.has-white-color {
  color: $color-white;
}

.has-text-color.has-blue-color {
  color: $flash-flood-blue;
}

.has-text-color.has-red-color {
  color: $alarming-red;
}

.has-text-color.has-yellow-color {
  color: $falling-shell-yellow;
}

.attachment-post-thumbnail {
  margin-bottom: 1rem;
}

.entry-content {
  ul {
    padding-left: 25px;
  }

  li {
    list-style: initial;
  }
}

.wp-block-embed__wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.wp-block-embed__wrapper iframe,
.wp-block-embed__wrapper object,
.wp-block-embed__wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
