/*
 *  Footer
 */

@import "../common/variables";

.footer-cta {
  margin: 3rem auto;

  h2 {
    margin: 1rem auto;
    text-align: center;
    font-family: $mono-font-family;
    font-weight: $mono-font-weight !important;
    font-style: $mono-font-style;
    font-size: 6vw;

    @include media-breakpoint-up(sm) {
      font-size: 4.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 3.5vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }
  }

  .footer-cta__inner {
    display: grid;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;
    grid-template-columns: auto;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
  }

  a {
    display: inline-block;
    width: 100%;
    padding: 3rem 0 2.5rem;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight !important;
    font-style: $headings-font-style;
    text-align: center;
    font-size: 10vw;
    color: $color-white;
    text-shadow: 3px 3px 0 $alarming-red;
    transition: all 0.15s ease-in-out;

    @include media-breakpoint-up(sm) {
      font-size: 7.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 5vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3rem;
    }

    &:hover,
    &:active {
      text-decoration: none;
      transform: scale(1.05);
    }
  }

  .doneer-cta {
    background-color: $falling-shell-yellow;
  }

  .signup-cta {
    background-color: $flash-flood-blue;
  }
}
