/*
 *  Footer
 */

@import "../common/variables";

.footer {
  display: flex;
  justify-items: center;
  align-items: center;
  padding: 2rem 0;
  background-color: $color-black;
  color: $color-white;

  a {
    color: $color-white;
  }

  .footer__social {
    margin: 2rem 2.5rem 4rem;

    ul {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
    }

    li {
      margin: 0 0.2rem;
      padding: 0;
      list-style: none;
      text-align: center;
    }

    a {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }

  .nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding-bottom: 3rem;

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    > li {
      padding-bottom: 2rem;
    }

    a {
      font-family: $headings-font-family;
      font-weight: $headings-font-weight;
      text-transform: uppercase;
      font-size: 1.4rem;
    }

    .sub-menu a {
      font-size: 1rem;
    }

    .sub-menu .sub-menu {
      margin-left: 10px;
    }
  }

  .footer__donate {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
  }

  .footer__donate-button {
    @extend .nav-link;

    padding: 1rem;
    width: 150px;
    text-align: center;
    font-family: $font-family-monospace;
    font-size: $small-font-size;
    line-height: $small-font-size;
    background-color: $alarming-red;
    color: $color-white;
  }

  .footer__logo {
    padding: 2rem 0 2rem;
    text-align: center;
  }

  .footer__logo-image {
    width: 200px;
    height: auto;
  }

  img {
    max-width: 100%;
  }
}
