/*
 *  Header
 */

.header {
  width: 100%;
  background-color: $alarming-red;
  transition: all 0.3s ease-out;
  position: fixed;
  z-index: 100;

  & + .wrap {
    padding-top: 70px;

    @include media-breakpoint-up(md) {
      padding-top: 130px;
    }
  }
}

.header.headroom--not-top {
  & + .wrap {
    padding-top: 70px;

    @include media-breakpoint-up(md) {
      padding-top: 105px;
    }
  }
}

.header__inner {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "brand"
    "primary-menu";
  grid-row-gap: 1rem;

  @include media-breakpoint-up(md) {
    grid-template-columns: 165px auto;
    grid-template-rows: 30px 75px;
    grid-template-areas:
      "brand top-menu"
      "brand primary-menu";
    grid-row-gap: 0;
  }

  @include media-breakpoint-up(lg) {
    .headroom--top & {
      grid-template-columns: 135px auto;
      grid-template-rows: 30px 100px;
    }
  }
}

.header__brand {
  grid-area: brand;
  position: relative;
}

.header__primary-menu {
  grid-area: primary-menu;
  transition: all 0.3s ease-out;

  @include media-breakpoint-up(md) {
    height: 75px;
  }

  @include media-breakpoint-up(lg) {
    .headroom--top & {
      height: 100px;
    }
  }
}

.header__top-menu {
  grid-area: top-menu;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.header__brand__link {
  position: relative;
  top: 21px;
  display: block;
  height: 100%;
  width: 100%;
  transition: all 0.3s ease-out;

  @include media-breakpoint-up(md) {
    top: 41px;
  }

  @include media-breakpoint-up(lg) {
    .headroom--top & {
      top: 51px;
    }
  }
}

#code-rood-logo-text {
  position: absolute;
  width: 45px;
  height: auto;
  transition: all 0.3s ease-out;

  @include media-breakpoint-up(md) {
    width: 75px;
  }

  @include media-breakpoint-up(lg) {
    .headroom--top & {
      width: 100px;
    }
  }
}

#code-rood-logo-swirl {
  position: absolute;
  top: -21px;
  left: 38px;
  width: 45px;
  height: auto;
  transition: all 0.3s ease-out;

  @include media-breakpoint-up(md) {
    top: -41px;
    left: 58px;
    width: 75px;
  }

  @include media-breakpoint-up(lg) {
    .headroom--top & {
      top: -53px;
      left: 79px;
      width: 100px;
    }
  }
}
