/*
 *  Home
 */

@import "../common/variables";

.home .posts-and-events {
  display: grid;
  grid-template:
    "posts"
    "events";
  grid-auto-rows: auto;
  grid-gap: 0 2rem;

  @include media-breakpoint-up(md) {
    grid-template: "posts events";
    grid-auto-columns: 1fr 1fr;
  }

  h2 {
    font-family: $mono-font-family;
    color: $gray-900;
    font-weight: $mono-font-weight;
    font-size: 7vw;

    @include media-breakpoint-up(sm) {
      font-size: 5.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 4vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }

  p {
    line-height: $line-height-lg;
    color: $gray-600;
    font-size: 4.5vw;

    @include media-breakpoint-up(sm) {
      font-size: 3vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 2.8vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 1.5rem;
    }
  }
}

.home__events {
  grid-area: events;

  .tribe-events-title-bar {
    display: none;
  }

  .tribe-events-loop #post-0 {
    display: none;
  }

  .tribe-events-list .type-tribe_events {
    margin-bottom: 2rem;
    padding: 0;
    box-shadow: 8px 8px 0 $falling-shell-yellow-transparent;

    &.tribe-events-first {
      padding: 0;
    }
  }

  .tribe-events-event-image img {
    width: 100%;
    height: auto;
  }

  .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    float: inherit;
    margin: 0;
    width: 100%;
    height: auto;
  }

  .tribe-events-event-meta {
    margin: 0;
    padding: 0.5rem 1.5rem;
    border: none;
    background-color: $flash-flood-blue-transparent;
    text-align: center;
  }

  .tribe-events-page-title {
    font-family: $mono-font-family;
    color: $gray-900;
    font-size: 7vw;

    @include media-breakpoint-up(sm) {
      font-size: 5.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 4vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }

    clear: inherit;
    position: inherit;
    text-align: inherit;
    z-index: inherit;
    margin-bottom: 0.5rem;
  }

  .tribe-bar-disabled {
    display: none;
  }

  .tribe-events-nav-pagination {
    display: none;
  }

  //.tribe-events-loop {
  //  display: grid;
  //  grid-template-columns: 1fr 1fr;
  //  grid-template-rows: 1fr;
  //  grid-gap: 0 2em;
  //}

  .tribe-events-list-event-title {
    margin: 0;
    padding: 2rem 1.5rem 2rem 2.5rem !important;
    width: 100%;
    font-family: $headings-font-family;
    font-size: $h4-font-size;
    font-weight: $headings-font-weight;
    font-style: $headings-font-style;
    background: rgba(0, 0, 0, 1);

    a {
      color: $flash-flood-blue;
    }
  }

  #tribe-events-header,
  .tribe-events-schedule,
  .tribe-events-notices,
  .tribe-events-back {
    display: none;
  }

  .tribe-events-list-event-description {
    display: none;
  }

  .tribe-events-venue-details {
    display: none;
    margin: 0;
    padding: 0.5rem 1.5rem 1.5rem;
    border: none;
    font-size: $small-font-size;
    line-height: 1.75rem;
  }

  .tribe-event-schedule-details {
    @extend .updated;

    color: $color-black;
  }

  .tribe-events-button {
    display: none !important;
  }
}

.home__news {
  grid-area: posts;
}

.home__news .post {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0 2rem;
  margin-bottom: 2rem;
  box-shadow: 8px 8px 0 $flash-flood-blue-transparent;

  .entry-title {
    //margin-bottom: 0;
    padding: 1.5rem 1.5rem 1rem;
    background-color: $alarming-red-verytransparent;

    a {
      color: $alarming-red;
      font-family: $headings-font-family;
      font-size: $h4-font-size;
      font-weight: $headings-font-weight;
      font-style: $headings-font-style;
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
    padding-bottom: 0;
  }

  .updated {
    padding: 1rem 1.5rem 0.5rem;
  }

  .entry-summary {
    padding: 0.5rem 1.5rem;
  }
}
