/*
 *  Layout
 */

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
}

.wrap {
  min-height: calc(100vh - 350px);
  transition: all 0.3s ease-out;
}

.content {
  .sidebar-primary & {
    display: grid;
    grid-template-columns: 100%;

    @include media-breakpoint-up(lg) {
      grid-template-columns: auto 30%;
      grid-column-gap: 3rem;
    }
  }
}
