/*
 *  Pages
 */

@import "../common/variables";

.page-header {
  color: $alarming-red;
  font-style: italic;
  text-shadow: 3px 3px 0 $falling-shell-yellow;
}

.featured-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.entry-title {
  font-size: 7vw;

  @include media-breakpoint-up(sm) {
    font-size: 5.5vw;
  }

  @include media-breakpoint-up(md) {
    font-size: 4vw;
  }

  @include media-breakpoint-up(lg) {
    font-size: 2.5rem;
  }
}

.updated {
  font-family: $mono-font-family;
  color: $flash-flood-blue;
  font-size: 4vw;

  @include media-breakpoint-up(sm) {
    font-size: 2.7vw;
  }

  @include media-breakpoint-up(md) {
    font-size: 2vw;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.3rem;
  }
}

.entry-content,
.entry-summary {
  font-size: 4.5vw;

  @include media-breakpoint-up(sm) {
    font-size: 3vw;
  }

  @include media-breakpoint-up(md) {
    font-size: 2.8vw;
  }

  @include media-breakpoint-up(lg) {
    font-size: 1.5rem;
  }

  br {
    line-height: 5rem;
  }

  h2 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    font-family: $mono-font-family;
    color: $flash-flood-blue;
    font-size: 7vw;

    @include media-breakpoint-up(sm) {
      font-size: 5.5vw;
    }

    @include media-breakpoint-up(md) {
      font-size: 4vw;
    }

    @include media-breakpoint-up(lg) {
      font-size: 2.5rem;
    }
  }
}
