/*
 * Fonts
 */

@font-face {
  font-family: "Avenir Next LT Pro Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next LT Pro Bold"), url("../fonts/avenir/AvenirNextLTPro-Bold.woff") format("woff");
}

@font-face {
  font-family: "Musseo Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/museo-sans/museo-sans-condensed-700-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Musseo Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/museo-sans/museosans-700-webfont.ttf") format("truetype");
}

@font-face {
  font-family: "Musseo Sans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/museo-sans/museo-sans-300.ttf") format("truetype");
}

@font-face {
  font-family: "Klima Web Ultralight";
  src: url("../fonts/klima/klima-ultralight-web.eot");
  src: url("../fonts/klima/klima-ultralight-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-ultralight-web.woff2") format("woff2"), url("../fonts/klima/klima-ultralight-web.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Klima Web Ultralight";
  src: url("../fonts/klima/klima-ultralight-italic-web.eot");
  src: url("../fonts/klima/klima-ultralight-italic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-ultralight-italic-web.woff2") format("woff2"), url("../fonts/klima/klima-ultralight-italic-web.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-light-web.eot");
  src: url("../fonts/klima/klima-light-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-light-web.woff2") format("woff2"), url("../fonts/klima/klima-light-web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-light-italic-web.eot");
  src: url("../fonts/klima/klima-light-italic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-light-italic-web.woff2") format("woff2"), url("../fonts/klima/klima-light-italic-web.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-regular-web.eot");
  src: url("../fonts/klima/klima-regular-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-regular-web.woff2") format("woff2"), url("../fonts/klima/klima-regular-web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-italic-web.eot");
  src: url("../fonts/klima/klima-italic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-italic-web.woff2") format("woff2"), url("../fonts/klima/klima-italic-web.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-medium-web.eot");
  src: url("../fonts/klima/klima-medium-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-medium-web.woff2") format("woff2"), url("../fonts/klima/klima-medium-web.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-medium-italic-web.eot");
  src: url("../fonts/klima/klima-medium-italic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-medium-italic-web.woff2") format("woff2"), url("../fonts/klima/klima-medium-italic-web.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-bold-web.eot");
  src: url("../fonts/klima/klima-bold-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-bold-web.woff2") format("woff2"), url("../fonts/klima/klima-bold-web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-bold-italic-web.eot");
  src: url("../fonts/klima/klima-bold-italic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-bold-italic-web.woff2") format("woff2"), url("../fonts/klima/klima-bold-italic-web.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-heavy-web.eot");
  src: url("../fonts/klima/klima-heavy-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-heavy-web.woff2") format("woff2"), url("../fonts/klima/klima-heavy-web.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-heavy-italic-web.eot");
  src: url("../fonts/klima/klima-heavy-italic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-heavy-italic-web.woff2") format("woff2"), url("../fonts/klima/klima-heavy-italic-web.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-ultra-web.eot");
  src: url("../fonts/klima/klima-ultra-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-ultra-web.woff2") format("woff2"), url("../fonts/klima/klima-ultra-web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Klima Web";
  src: url("../fonts/klima/klima-ultra-italic-web.eot");
  src: url("../fonts/klima/klima-ultra-italic-web.eot?#iefix") format("embedded-opentype"), url("../fonts/klima/klima-ultra-italic-web.woff2") format("woff2"), url("../fonts/klima/klima-ultra-italic-web.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Katwijk Mono Web";
  src: url("../fonts/katwijk-mono/katwijk-mono-light-web.eot");
  src: url("../fonts/katwijk-mono/katwijk-mono-light-web.eot?#iefix") format("embedded-opentype"), url("../fonts/katwijk-mono/katwijk-mono-light-web.woff2") format("woff2"), url("../fonts/katwijk-mono/katwijk-mono-light-web.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Katwijk Mono Web";
  src: url("../fonts/katwijk-mono/katwijk-mono-regular-web.eot");
  src: url("../fonts/katwijk-mono/katwijk-mono-regular-web.eot?#iefix") format("embedded-opentype"), url("../fonts/katwijk-mono/katwijk-mono-regular-web.woff2") format("woff2"), url("../fonts/katwijk-mono/katwijk-mono-regular-web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Katwijk Mono Web";
  src: url("../fonts/katwijk-mono/katwijk-mono-bold-web.eot");
  src: url("../fonts/katwijk-mono/katwijk-mono-bold-web.eot?#iefix") format("embedded-opentype"), url("../fonts/katwijk-mono/katwijk-mono-bold-web.woff2") format("woff2"), url("../fonts/katwijk-mono/katwijk-mono-bold-web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Katwijk Mono Web";
  src: url("../fonts/katwijk-mono/katwijk-mono-black-web.eot");
  src: url("../fonts/katwijk-mono/katwijk-mono-black-web.eot?#iefix") format("embedded-opentype"), url("../fonts/katwijk-mono/katwijk-mono-black-web.woff2") format("woff2"), url("../fonts/katwijk-mono/katwijk-mono-black-web.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Graph FF Condensed Web";
  src: url("../fonts/graph-ff/graph-ff-condensed-black-web.eot");
  src: url("../fonts/graph-ff/graph-ff-condensed-black-web.eot?#iefix") format("embedded-opentype"), url("../fonts/graph-ff/graph-ff-condensed-black-web.woff2") format("woff2"), url("../fonts/graph-ff/graph-ff-condensed-black-web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
