/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$color-red: rgba(255, 51, 35, 1);
//$color-blue: rgba(70, 70, 230, 1);
$color-blue: rgba(0, 178, 235, 1);
$color-white: rgba(255, 255, 255, 1);
$color-white-transparent: rgba(255, 255, 255, 0.25);
$color-black: rgba(0, 0, 0, 0.9);

$alarming-red: rgba(166, 0, 0, 1);
$alarming-red-transparent: rgba(166, 0, 0, 1);
$alarming-red-transparent: rgba(166, 0, 0, 0.25);
$alarming-red-verytransparent: rgba(166, 0, 0, 0.075);
$flash-flood-blue: rgba(0, 209, 255, 1);
$flash-flood-blue-transparent: rgba(0, 209, 255, 0.25);
$falling-shell-yellow: rgba(255, 213, 0, 1);
$falling-shell-yellow-transparent: rgba(255, 213, 0, 0.25);

// Bootstrap

$primary: $alarming-red;
$secondary: $flash-flood-blue;

$theme-colors: (
  primary: $primary,
  secondary: $secondary
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

/* Fonts */
$font-size-base: 1.4rem;
$line-height-base: 1.7;
$small-font-size: 75%;

// stylelint-disable value-keyword-case
$mono-font-family: "Katwijk Mono Web", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$mono-font-style: normal;
$mono-font-weight: 400;

$klima-font-family: "Klima Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$klima-font-style: italic;
$klima-font-weight: 900;

$headings-font-family: $klima-font-family;
$headings-font-style: $klima-font-style;
$headings-font-weight: $klima-font-weight;

$body-font-family: "Klima Web", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$body-font-style: normal;
$body-font-weight: 400;
$body-font-bold: 700;
// stylelint-enable value-keyword-case

$font-family-sans-serif:      $body-font-family;
$font-family-monospace:       $mono-font-family;

$font-weight-bold:            700;

/** Hamburger Menu overrides */
$hamburger-padding-x: 15px;
$hamburger-padding-y: 5px;
$hamburger-types: (collapse);
$hamburger-layer-width: 25px;
$hamburger-layer-height: 4px;
$hamburger-layer-spacing: 5px;
$hamburger-padding-x: 5px;
$hamburger-layer-color: $color-white;

$slick-loader-path: "~slick-carousel/slick/";
$slick-font-path: "#{$slick-loader-path}fonts/";
