/*
 * Shell Must Fall
 */

@import "../common/variables";

.shell-must-fall {
  overflow-x: hidden;

  .entry-content {
    figure {
      margin: 0;
    }
  }

  .headroom {
    position: fixed;
    z-index: 100;
    background-color: $falling-shell-yellow;
    right: 0;
    left: 0;
    top: 0;
    will-change: transform;
    transition: transform 200ms linear;
  }

  .headroom--pinned {
    transform: translateY(0%);
  }

  .headroom--unpinned {
    transform: translateY(-100%);
  }

  &.sidebar-primary .content {
    display: inherit;
  }

  .container {
    max-width: 650px;
  }

  .wp-block-image.parallax {
    margin: 0 !important;
  }

  .parallax-window {
    height: 20vh;
    background: transparent;

    @include media-breakpoint-up(md) {
      height: 375px;
    }

    figure,
    img {
      margin: 0;
      padding: 0;
    }
  }

  section {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0 5rem;

    section {
      margin: 0 auto;
      padding: 1rem;
      max-width: 650px;
    }

    br {
      line-height: inherit;
    }

    &.has-white-background-color {
      padding-top: 4vw;
    }

    h2 {
      margin: 0;
      font-size: 9vw;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
    }

    h3 {
      margin: 0;
      font-size: 7vw;
      font-style: italic;
      line-height: 9vw;
      text-align: center;

      @include media-breakpoint-up(md) {
        font-size: 6vw;
        line-height: 8vw;
      }

      @include media-breakpoint-up(lg) {
        padding-top: 0.5rem;
        font-size: 2.5rem;
        line-height: 3.5rem;
      }
    }

    h4 {
      font-family: $font-family-monospace;
      font-size: 1.5rem;
      line-height: 2.3rem;
      text-align: center;
      font-weight: $font-weight-normal;
      color: $color-white;
    }

    > p {
      padding-bottom: 3vw;
      font-size: 4vw;
      font-family: $font-family-monospace;
      font-weight: $font-weight-normal;
      line-height: 5vw;
      text-align: center;
      //font-weight: bold;
      //font-style: italic;

      @include media-breakpoint-up(md) {
        padding-bottom: 2rem;
        font-size: 1.4rem;
        line-height: 2.2rem;
      }
    }
  }

  .banner {
    width: 100%;

    ul {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      margin: 0;
      padding: 0.5rem;

      @include media-breakpoint-up(sm) {
        padding: 1rem 1rem;
      }
    }

    .menu-item {
      margin: 0;
      list-style: none;
      display: none;

      @include media-breakpoint-up(md) {
        display: inherit;
      }

      &:first-of-type,
      &:last-of-type {
        display: inherit;
      }
    }

    a {
      @extend .nav-link;

      padding: 0.5rem 0.5rem;
      font-family: $font-family-monospace;
      font-size: $small-font-size;
      line-height: $small-font-size;
      color: $alarming-red;
    }
  }

  .section-cta {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 20px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    .shell-must-fall-logo {
      margin-bottom: 0;
      padding: 0 24vw;
      text-align: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .coderood-red-line {
      margin-top: -10vw;
      width: 100%;

      @include media-breakpoint-up(sm) {
        margin-top: -5vw;
      }

      @include media-breakpoint-up(lg) {
        margin-top: -3vw;
      }

      img {
        margin: 0 -50vw;
        width: 200vw;
        max-width: 200vw;
        height: auto;

        @include media-breakpoint-up(sm) {
          margin: 0;
          max-width: 100%;
        }
      }
    }

    h3 {
      margin-top: -5vw;
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(sm) {
        margin-top: -5vw;
      }

      @include media-breakpoint-up(lg) {
        margin-top: -3vw;
      }
    }

    .ab-block-button {
      margin: 0;
    }

    .ab-button {
      padding: 1rem 0;
      width: 25rem;
      max-width: 65%;
      background-color: $falling-shell-yellow;
      text-align: center;
      color: $alarming-red;
      font-weight: $klima-font-weight;
      font-style: $klima-font-style;
      font-size: 8.5vw;

      @include media-breakpoint-up(sm) {
        font-size: 7vw;
      }

      @include media-breakpoint-up(md) {
        font-size: 6vw;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2.5rem;
      }

      &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -20px;
        width: 0;
        height: 0;
        border-top: solid 20px $alarming-red;
        border-left: solid 20px transparent;
        border-right: solid 20px transparent;
      }
    }
  }

  .section-smf-events-cta {
    .ab-block-button {
      text-align: center;
    }

    .ab-button {
      padding: 0.5rem 0;
      width: 28rem;
      max-width: 100%;
      background-color: $falling-shell-yellow;
      text-align: center;
      color: $alarming-red;
      font-family: $font-family-monospace;
      font-weight: $klima-font-weight;
      font-style: normal;
      font-size: 7.5vw;

      @include media-breakpoint-up(sm) {
        font-size: 6vw;
      }

      @include media-breakpoint-up(md) {
        font-size: 5vw;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2rem;
      }
    }
  }

  .section-intro {
    h2 {
      text-align: center;
      color: $color-white;
    }
  }

  .section-no-more {
    h3 {
      color: $falling-shell-yellow;
    }
  }

  .section-demands {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    h2 {
      margin-bottom: 2rem;
      padding: 0.5rem 2rem;
      color: $alarming-red;
      background-color: $falling-shell-yellow;

      @include media-breakpoint-up(md) {
        margin-top: 2rem;
        margin-bottom: 4rem;
        padding: 1rem 4rem;
      }
    }

    .ab-block-accordion .ab-accordion-title {
      background-color: transparent;
      font-family: $font-family-monospace;
      font-weight: $mono-font-weight;
      font-size: 6vw;
      line-height: 8vw;

      @include media-breakpoint-up(md) {
        font-size: 4vw;
        line-height: 6vw;
      }

      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }

    li {
      margin-left: 0;
      padding-bottom: 3vw;
      font-size: 4.5vw;
      line-height: 8vw;
      font-family: $font-family-monospace;
      font-weight: $mono-font-weight;

      strong {
        font-family: $font-family-sans-serif;
        font-style: $klima-font-style;
        font-weight: $klima-font-weight;
      }

      @include media-breakpoint-up(md) {
        padding-bottom: 2rem;
        font-size: 1.8rem;
        line-height: 2.7rem;
      }
    }
  }

  .wp-block-embed-youtube {
    padding-left: 0;
    padding-right: 0;

    .wp-block-embed__wrapper {
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      padding-top: 25px;
      height: 0;

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .section-faq {
    h2 {
      color: $color-white;
    }

    .ab-block-accordion .ab-accordion-title {
      background-color: transparent;
      font-family: $font-family-monospace;
      font-weight: $mono-font-weight;
      font-size: 6vw;
      line-height: 8vw;

      @include media-breakpoint-up(md) {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }

  .section-join-us {
    h2 {
      margin-bottom: 1rem;
      font-size: 9vw;
      color: $falling-shell-yellow;

      @include media-breakpoint-up(md) {
        font-size: 3rem;
        line-height: 3rem;
      }
    }

    h3 {
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-size: 7vw;
      text-align: center;
      color: $color-white;
      font-family: $font-family-monospace;

      @include media-breakpoint-up(md) {
        font-size: 2.2rem;
        line-height: 2.4rem;
      }
    }

    p {
      font-family: $font-family-monospace;

      @include media-breakpoint-up(md) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }

    a {
      color: $falling-shell-yellow;
    }
  }

  .section-events {
    margin-top: 0;
    background-color: $flash-flood-blue-transparent;

    /* Set these margins to work with your own theme. */
    @media screen and (min-width: 1200px) {
      padding-left: 25vw;
      padding-right: 25vw;
    }

    h2 {
      margin-bottom: 1rem;
      color: $color-black;
    }

    a {
      //color: $color-white;
    }

    .tribe-events-event-image {
      display: none;
    }

    .tribe-events-page-title {
      font-size: 4vw;
    }

    #tribe-events-content.tribe-events-list {
      margin-bottom: 0;
    }

    .tribe-events-list .type-tribe_events {
      border: none;
      margin-bottom: 2rem;
      padding: 0;
      background-color: $flash-flood-blue;
      box-shadow: none !important;

      &.tribe-events-first {
        padding: 0;
      }
    }

    .tribe-events-list-event-title a {
      color: $color-black;
    }

    #tribe-events-header,
    #tribe-events-footer {
      display: none;
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    .ab-button {
      padding: 2rem 1rem;
      width: 35rem;
      max-width: 100%;
      background-color: $alarming-red;
      text-align: center;
      color: $color-white;
      font-family: $font-family-monospace;
      font-weight: $klima-font-weight;
      font-style: normal;
      font-size: 7.5vw;

      @include media-breakpoint-up(sm) {
        font-size: 6vw;
      }

      @include media-breakpoint-up(md) {
        font-size: 5vw;
      }

      @include media-breakpoint-up(lg) {
        font-size: 2rem;
      }
    }
  }
}
